body{
    background-color: rgb(245, 245, 210);
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.drop-down{
    background-color: rgb(241, 220, 157);
    width: 100%;
    height: 50px;
    font-size: 30px;
    
}
.drop-down li{
    white-space: nowrap;
    
}
.drop-down >li{
    float: left;
}

.drop-down a{ 
    text-decoration: none;
    color: #333206;
    display: block;
    padding: 7px;
}
.drop-down a:hover{
    background-color: #f7b715;
}
.drop-down li:hover>a{/*滑鼠移入次選單上層按鈕保持變色*/
    background-color: #f7b715;
}

.drop-down ul{
    display: none;
}
.drop-down li:hover>ul{
    display: block;
}
