
a{
    color: black;
}
a:visited{
    color: black;
}
p{
    margin: 0;
}
/*footer*/
.footer{
    display: flex;
    position: relative;
    top: 130%;
    width: 100%;
    height: 100px;
    background-color: rgb(252, 231, 231);
    box-shadow: -5px 0 5px 2px gray;
    bottom: 0;
}
@media (min-width: 900px) and (max-width: 1033px){
    .footer{
        top:140%;
    }
}

@media (min-width: 843px) and (max-width: 899px){
    .footer{
        top:150%;
    }
}
@media (min-width: 723px) and (max-width: 842px){
    .footer{
        top:165%;
    }
}

@media (min-width: 541px) and (max-width: 722px){
    .footer{
        top:175%;
    }
}

.footer p{
    position: absolute;
    font-size: 1.5vw;
}

.footer img{
    width: 6%;
}

.footer :nth-child(1){
    left: 5%;
}

.footer :nth-child(2){
    left: 35%;
}

.footer :nth-child(3){
    left: 55%;
}

.footer :nth-child(4){
    left: 70%;
}
