.main{
    height: 100vh;
}
.card{
    background-color: #FFF9E7;
    border: 0;
    box-shadow: 2px 2px 2px 2px gray;
}

.card-title{
    font-size: 4vw;
}
.card-text{
    font-size: 1.5vw;
}
.card a{
    text-decoration: none;
    font-size: 2vw;
    color: black;
}

button{
    background-color: white;
}
button:hover{
    background-color: black;
}
button:hover>a{
    color: white;
}