html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}
a{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.nav{
    position: relative;
    width: 100%;
    height: 7%;
}
.navbar{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    height: 7vh;
    white-space:nowrap;
    z-index: 9999;
    justify-content: end;
    box-shadow: 0 3px 2px 2px gray;
    background-color: rgb(252, 231, 231);
}
.white{
    position: relative;
    height: 7vh;
    width: 100%;
    top: 0;
}
.navbar >li{
    padding: 7px;
    margin: 0px;
    margin-right: 1%;
}

.navbar a{
    font-size: 200%;
    color: #333206;
    text-decoration: none;
    padding: 10px 6px;
}
/*次行ul*/
.subnav{
    position: absolute;/*別跑版*/
    display: none;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(252, 231, 231);
    box-shadow: 3px 3px 2px 2px gray;;
}

.subnav li{
    padding: 2px 0px;
}
.subnav a{
    padding: 6px 25px;
    display: block;
}

.navbar a:hover {
    background-color:  black;
    color: white;
}
.navbar >li:hover ul{
    display: block;
}

.navbar li:hover>a{
    background-color:  rgb(0, 0, 0);
    color: white;
}
