body{
    background-color: rgb(245, 245, 210);
    margin: 0;
    overflow-x: scroll;
    overflow-y: scroll;
}

a{
    text-decoration: none;
}

/*left button*/
.left{
    position: fixed;
    top: 100px;
    left: 5vw;
    width: 50px;
}

.left button{
    background-color: #BEDBB2;
    width: 50px;
    border: 0;
    margin: 7px;
    border-radius: 7px;
    box-shadow:  0 0 5px 1px #71816a;
}

.left a{
    font-size: 30px;
    color: black;
    
}
/*context*/
.middle{
    display: inline-flexbox;
    padding-top: 100px;
    height: 1000px;
}
.middle div{
    background-color: white;
    width: 45vw;
    font-size: 2vw;
    margin: 1vw auto;
    padding: 2vw;
    box-shadow: 0 0 10px 1px gainsboro;
    border-radius: 2vw;
}
.middle h2{
    margin-bottom: 0;
    margin-top: 0;
}
.duration{
    display: inline-block;
    text-align: left;
    margin-bottom: 0;
    font-size: 2vw;
}
.title{
    display: block;
    text-align: left;
    float: right;
    margin-bottom: 0;
    font-size: 2vw;
}

.text{
    display: block;
    text-align: justify;
    margin-top: 10px;
    padding: 0;
    font-size: 1.5vw;
}

#club li{
    list-style: disc;
    font-size: 1.5vw;
}


